@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter', sans-serif;
  --breakpoint-xs: 30rem;
}

body {
  @apply font-inter;
}

.textSm {
  @apply text-sm;
}

.textBase {
  @apply text-base;
}

.textLg {
  @apply text-xl;
}

.h3 {
  @apply text-2xl;
}

.h2 {
  @apply text-3xl;
}

.h1 {
  @apply text-4xl;
}

.button-the-header {
  @apply bg-primary-900
  dark:bg-primary-950
  border-none
  hover:bg-primary-950
  dark:hover:bg-primary-900
  text-surface-0
}

.layout-full-screen-flex{
  @apply w-full min-h-screen flex justify-center
}

.layout-principal-flex{
  @apply w-full flex justify-center
}
